body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  text-align: center;
}
.bodie{
  border: 15px #338fff solid;
  border-radius: 15px;
  font-size: 25px;
  padding: 20px;
  background-color: #ECECEC;
}
form.adding{
  text-align: center;
}
.hand{
  cursor: pointer;
}
.Done{
  text-decoration: line-through;
}
.main{
  max-width: 400px;
  margin: 0 auto;
}
th {
  text-align: left;
}
.table{
  width : 100%;
}
td:first-child{
  width: 100%;
}
td:last-child{
  min-width:125px;
}
input{
  text-align: center;
  font-size: 15px;
  padding: 1px;
  border-radius: 5px;
  border: 4px #ffffff solid;
  
}
button.add{
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    border: 4px #338fff solid;
    background-color: #338fff;
}

button.edit{
  cursor: pointer;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  border: 3px #338fff solid;
  background-color: #FED000;
}
button.delete{
  cursor: pointer;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  border: 3px #338fff solid;
  background-color: #f01e2c;
}
button.save{
  cursor: pointer;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  border: 3px #338fff solid;
  background-color: #7FFF00;
}
button.cancel{
  cursor: pointer;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  border: 3px #338fff solid;
  background-color: #8B6C5C;
}
